FORMAT: 1A
HOST: https://parku.ch/v5

# Parku API v5 Reference

The parku API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and to use
HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs,
which can be understood by off-the-shelf HTTP clients. JSON will be returned in all responses from the API,
including errors.

### Versions
- latest stable: [v4](index.html)
- beta: __v5__

#### Changes in v5
- Replaced locations model with an hierarchical one. This affects the [Locations Endpoint](#locations-locations) and
  [Bookings Endpoint](#bookings-bookings). Find the description of the new model at:
  + [Location Model](#header-location-model)
  + [Parking Space Group Model](#header-parking-space-group-model)
  + [Cluster Model](#header-cluster-model)
- `voucher` endpoint removed

<!-- include(../v4/attributes.apib) -->
<!-- include(../v4/bookings.apib) -->
<!-- include(../v4/cars.apib) -->
<!-- include(../v4/coupon.apib) -->
<!-- include(../v4/devices.apib) -->
<!-- include(../v4/facebook.apib) -->
<!-- include(../v4/invitations.apib) -->
<!-- include(../v5/locations.apib) -->
<!-- include(../v4/login.apib) -->
<!-- include(../v4/password.apib) -->
<!-- include(../v4/payment.apib) -->
<!-- include(../v4/phone_numbers.apib) -->
<!-- include(../v4/sesam.apib) -->
<!-- include(../v4/settings.apib) -->
<!-- include(../v4/static_pages.apib) -->
<!-- include(../v4/user.apib) -->
<!-- include(../v4/violations.apib) -->

# Group Changelog
<!-- include(changelog.md) -->
