@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

@base-font: 400 14px ~"/" 1.42 'Open+Sans', Helvetica, sans-serif;
@title-font: 200 36px 'Open+Sans', Helvetica, sans-serif;
@code-font: 200 12px 'Source+Code+Pro', monospace;
@uri-font: 200 12px 'Source+Code+Pro', monospace;

@parku-blue: #0075bf;
@parku-green: #76b82a;
@parku-dark-gray: #666;
@parku-gray: #eee;
@parku-light-gray: #F7F7F7;
@parku-text-on-white: #000000;
@parku-text-on-blue: #FFFFFF;

@title-color: @parku-blue;
@title-background-color: #FFFFFF;

@background-color: #FFFFFF;
@text-color: @parku-text-on-white;
@link-color: @parku-blue;

/* Nav and right panel */
@nav-hover-border-color: #000000;
@nav-hover-background-color: @parku-gray;
@nav-background-color: @parku-light-gray;
@nav-border-color: @parku-gray;
@right-background-color: @parku-light-gray;
@right-table-background-color: @parku-light-gray;
@right-description-background-color: @parku-light-gray;
@right-text-color: @parku-text-on-white;
@right-border-color: @parku-gray;
@middle-border-color: @parku-gray;
@middle-collapse-background-color: #FFFFFF;
@middle-description-background-color: #FFFFFF;

@group-border-color: @parku-gray;
@border-radius: 0px;

@method-color: @parku-text-on-white;
@method-background-color: @parku-gray;
@method-badge-color: @parku-text-on-blue;
@method-badge-background-color: @parku-blue;

@title-code-background-color: @parku-gray;
@title-code-color: @parku-text-on-white;

@group-title-background-color: #FFFFFF;
@split-color: @parku-gray;

@inline-code-background-color: @parku-gray;
@inline-code-text-color: @parku-dark-gray;

@code-block-text-color: #000000;
@code-block-background-color: #FFFFFF;

@tabs-background-color: @parku-light-gray;
@example-color: @parku-green;

@highlight-literal: @parku-green;
@highlight-string: @parku-dark-gray;
@highlight-value: #000000;

@middle-table-background-color: #FFFFFF;
@table-background-color: @parku-light-gray;

@changelog-date-color: @parku-blue;
@changelog-date-background-color: #FFFFFF;
@changelog-description-color: @parku-text-on-white;
@changelog-description-background-color: #FFFFFF;
@changelog-border-color: #FFFFFF;
